.release p, .release ul {
    margin:0 120px
}
.release p span {
    margin-left: 150px;
}

@media screen and (max-width:768px){

    .release p, .release ul {
        margin:0 30px
    }
    .release p span {
        margin-left: 60px;
    }
    

}